<%= form_with(model: room_item) do |form| %>
    <% if room_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(room_item.errors.count, "error") %> prohibited this room_item from being saved:</h2>
  
        <ul>
          <% room_item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :id_room %>
      <%= form.text_field :Room_id %>
    </div>
  
    <div class="field">
      <%= form.label :id_Item %>
      <%= form.text_field :Item_id %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  